html, body{
	height: 100%;
}

body{
	background: $body-bg;
  color: $body-color;
}

#background-video{
	position: fixed;
	top:0;
	left: 0;
	width:1920px;
	height:1080px;
}

.container-fullhd{
	width: 1920px;
	height: 1080px;
	overflow:hidden;
	@include display-flex;
  @include flex-direction(row);
	@include align-items(center);
	@include justify-content(center);
	// .egg{
	// 	width: 1920px;
	// 	height: 1080px;
  //   @include animation(shake 1s infinite linear);
  //   @include transform-origin(50% 100%);
	// }
}

@include keyframes(shake) {
    0% { @include transform(translate(0px, 0px) rotate(0deg)); }
    10% { @include transform(translate(0px, 0px) rotate(-1deg)); }
    20% { @include transform(translate(0px, 0px) rotate(1deg)); }
    30% { @include transform(translate(0px, 0px) rotate(0deg)); }
    40% { @include transform(translate(0px, 0px) rotate(1deg)); }
    50% { @include transform(translate(0px, 0px) rotate(0deg)); }
    60% { @include transform(translate(0px, 0px) rotate(0deg)); }
    100% { @include transform(translate(0px, 0px) rotate(0deg)); }
}
.item:hover{
    @include animation(shake 0.8s infinite linear);
    @include transform-origin(50% 50%);
}
