html, body{
	height: 100%;
}

body{
	background: $body-bg;
  color: $body-color;
}

#egg-01, #egg-02, #egg-03{
	position: fixed;
	top:0;
	left: 0;
	width:1920px;
	height:1080px;
}

.container-fullhd{
	position:fixed;
	z-index:1;
	width: 1920px;
	height: 1080px;
	overflow:hidden;
	@include display-flex;
  @include flex-direction(row);
	@include align-items(center);
	@include justify-content(start);
}

.content-timer{
	position: fixed;
	z-index:2;
	top:20px;
	right:20px;
	width:400px;
	height:200px;
	.text-message{
		@include display-flex;
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
		height: 40%;
		font-size:30px;
		color: white;
		text-transform: uppercase;
		border: 1px solid white;
	}
	.text-timer{
		@include display-flex;
		@include flex-direction(row);
		@include align-items(center);
		@include justify-content(center);
		height: 60%;
		font-size:80px;
		color: gold;
		border: 1px solid white;
		background:white;
	}
}
